/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

$max-width: 1600px;
// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Lora&family=Space+Grotesk:wght@300;600&display=swap');
// use Atkinson Hyperlegible font if available
$font-family-sans-serif: "Space Grotesk", sans-serif !default;
$font-family-monospace: "Fira Code", monospace !default;
$font-family-serif: "Lora", serif !default;


/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
}
