.distill-site-nav {
  font-family: Merriweather;
  color: rgba(255, 255, 255, 0.8);
  background-color: #455a64;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  font-family: Merriweather;
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: white;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

d-article {
  font-family: Merriweather;
}

.posts-list .post-preview .thumbnail img {
  width: 100%; 
  display: block;
}