.language-marker code {
  position: relative;
}

.language-marker code::before {
  border-radius: 0 0 0.25rem 0.25rem;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 0.5rem;
  text-align: right;
  text-transform: uppercase;
  bottom: 0;
}

.language-marker code.R::before {
  content: "R";
  background: #276dc2;
  color: white;
}

.language-marker code.python::before {
  content: "PYTHON";
  background: #3776ab;
  color: black;
  tab-size: 4;
}

.language-marker code.json::before {
  content: "JSON";
  background: #3776ab;
  color: black;
}

.language-marker code.sql::before {
  content: "SQL";
  background: #d2c4e9;
}

.language-marker code.bash::before {
  content: "SHELL";
  background: #385b58;
  color: black;
}

.language-marker code.javascript::before {
  content: "JavaScript";
  background: #f7df1e;
  color: black;
}

.language-marker code.typescript::before {
  content: "TypeScript";
  background: #3178c6;
  color: black;
}

.language-marker code.cpp::before {
  content: "C++";
  background: #5f97d0;
  color: black;
}

.language-marker code.rust::before {
  content: "Rust";
  background: #ce412b;
  color: black;
}

.language-marker code.java::before {
  content: "Java";
  background: #f89820;
  color: black;
}

.language-marker code.lua::before {
  content: "Lua";
  background: #01017f;
  color: white;
}
