{{- define "main" -}}
<article class="article">
  {{ partial "page_header" . }}
  <div class="article-container">
    <div class="row">
      <div class="col-12 col-lg-9 article-style">
        {{ .Content }}
      </div>
      <div class="col-12 col-lg-3 docs-toc">
        <ul class="nav toc-top">
          <li>
            <a href="#" id="back_to_top" class="docs-toc-title">
              {{ i18n "on_this_page" }}
            </a>
          </li>
        </ul>
        {{ .TableOfContents }}


        <div class="article-description">
          {{ if (isset .Params "description") }}
          {{ index .Params "description" }}
          {{ else }}
          {{ .Summary }}
          {{ end }}
        </div>
        <!--
        <div class = "article-date">
            {{ if (isset .Params "lastmod") }}
              <span class="date">last modified at
              {{ (index .Params "lastmod").Format "2006-01-02" }}</h2>
            {{ end }}
        </div>-->


      </div>
    </div>
    {{ partial "page_footer" . }}
  </div>
</article>
{{- end -}}